.parentFram1{
    background-color: rgba(0, 0, 0, 0.461);
    align-items: center;
    justify-content: center;
}
.cover{
    background-image: url(../../assets/back.gif);
    background-repeat: no-repeat;
    background-size: cover;
}